#container {
    margin: auto; 
    border: solid 1px blue;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    background-color: red;
}

.drawn {
    background-color: black;
}